body { 
	font: normal .80em 'gothic century', arial, sans-serif;
  	background: #3c0d35
}

img {
	width: 75%;
	height: 75%;
	display: block;
    margin: 0 auto;
}
  
p { 
  	line-height: 1.7em;
  	color: #3c0d35;
}

#header { 
	background: #fff;  	
  	height: 49%;
  	width: 49%;
}

#logo h1{ 
	font: normal 320% 'century gothic', arial, sans-serif;	
  	margin: 0;
}

#logo h1, #logo h1 a { 
  	color: #bf08ff;
  	letter-spacing: 0.1em;
  	text-decoration: none;
}

#logo h1, #logo h1 a .logo_colour, #logo h2 { 
	color: #f6aff0;
	text-align: center;
}

#logo h2 { 
	font: normal 320% 'century gothic', arial, sans-serif;	
	font-size: 130%;
}

#menu { 
	width: 855px;
  	height: 72px;
  	background:  #f6aff0;
  	margin: 0;
} 

#menu li { 
	list-style: none;
	display: inline-block;
}

#menu li a {	
	display: inline-block;
	letter-spacing: 0.1em;	   
  	padding: 29px 26px 0;  	
  	color: #bf08ff;
  	text-transform: uppercase;
  	text-decoration: none;
} 

#header, #footer, #only-text, #content-text-title, #content-text {
	margin-left: auto;
  	margin-right: auto;
}

#footer { 
  	width: 49%;
  	padding: 24px 0 5px 0;
  	text-align: center; 
  	background: #f6aff0;
  	color: #bf08ff;
  	text-transform: uppercase;
  	letter-spacing: 0.1em;
}

#only-text {
	width: 49%;
    overflow: hidden;
  	background: #fff;
}

#content-text-title, #content-text {
	text-align: center;
  	width: 50%;
  	color: #3c0d35;
}

#content-text {  	
  	font-size: 20px;
}

@media only screen and (max-width: 700px) {
    .modal-content {
        width: 100%;
}
